<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue{% endblock %}</title>

        <link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid" >
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('acceuil') }}">Acceuil</a>
                <a class="navbar-brand" href="{{ path('apprenant') }}">Apprenant</a>
                <a class="navbar-brand" href="{{ path('evaluation') }}">Evaluation</a>
            </div>
        </div>
    </nav>
        {% block body %}
            {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {% endblock %}
    </body>
</html>
